
* {
    margin: 0;
    font-family: Arial;
    border:border-box;
}
.border{
    border:2px solid transparent
}
.border:hover{
    border: 1.5px solid white;
    padding: 5px;
}
.padding{
    padding-right: 3px;
}
.text-deco{
    text-decoration: none;
    color: white;
}